<clr-wizard #wizardxl [(clrWizardOpen)]="show" (clrWizardOnCancel)="changeVisibility()">
    <clr-wizard-title>Test Creation Wizard</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (clrWizardButtonClicked)="changeVisibility()">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>General Data</ng-template>
        <form clrForm #formPageOne="ngForm">
            <clr-input-container>
                <label>Name</label>
                <input clrInput required [(ngModel)]="data.name" name="name"/>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
                <label>Description</label>
                <input clrInput [(ngModel)]="data.description" name="description"/>
            </clr-input-container>
        </form>

        <h5>Plugins</h5>

        <clr-datagrid [(clrDgSelected)]="chosenPlugins" (clrDgSelectedChange)="selectionChanged()">
            <clr-dg-column>User ID</clr-dg-column>
            <clr-dg-column>Documentation</clr-dg-column>
            <clr-dg-column>Modules</clr-dg-column>

            <clr-dg-row *ngFor="let plugin of plugins" [clrDgItem]="plugin">
                <clr-dg-cell>{{plugin.id}}</clr-dg-cell>
                <clr-dg-cell>{{plugin.documentation | slice: 0: 60}} ...</clr-dg-cell>
                <clr-dg-cell>{{plugin.modules.length}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{plugins.length}} Plugins</clr-dg-footer>
        </clr-datagrid>
        <p>Selected plugins: <b *ngFor="let plugin of chosenPlugins"> {{plugin.id}}</b></p>

    </clr-wizard-page>

    <clr-wizard-page *ngFor="let plugin of chosenPlugins">
        <ng-template clrPageTitle>Plugin: {{plugin.id}}</ng-template>
        <app-plugin-data-input [pluginData]="getPluginData(plugin.id)"
                               [pluginDocumentation]="plugin"></app-plugin-data-input>
    </clr-wizard-page>

    <pre>{{data | json}}</pre>
</clr-wizard>

