<ng-container [ngSwitch]="inputDefinition.value">

    <clr-input-container *ngSwitchCase="inputTypes.Text">
        <label>{{inputDefinition.key}}</label>
        <input clrInput [(ngModel)]="data[inputDefinition.key]" name="name"/>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="inputTypes.Password">
        <label>{{inputDefinition.key}}</label>
        <input clrInput [(ngModel)]="data[inputDefinition.key]" type="password" name="name"/>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="inputTypes.Number">
        <label>{{inputDefinition.key}}</label>
        <input clrInput type="number" [(ngModel)]="data[inputDefinition.key]" name="name"/>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="inputTypes.Boolean">
        <label>{{inputDefinition.key}}   {{inputDefinition.value}}</label>
    </clr-input-container>

    <clr-input-container *ngSwitchCase="inputTypes.NumberList">
        <label>{{inputDefinition.key}}   {{inputDefinition.value}}</label>
    </clr-input-container>

    <ng-container *ngSwitchCase="inputTypes.TextList">
        <div class="clr-control-container clr-col-md-10 clr-col-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="left">{{inputDefinition.key}}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of data[inputDefinition.key]; let i = index">
                    <td class="left">
                        <div *ngIf="editableListElem === i">
                            <input type="text" required placeholder="Edit element"
                                   [(ngModel)]="data[inputDefinition.key][i]"
                                   class="clr-input">
                        </div>
                        <div *ngIf="editableListElem !== i">
                            {{elem}}
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-sm btn-icon">
                            <button *ngIf="editableListElem == i" class="btn btn-secondary"
                                    (click)="editableListElem = -1">
                                <clr-icon shape="floppy"></clr-icon>
                                <span class="clr-icon-title">Save</span>
                            </button>
                            <button *ngIf="editableListElem !== i" class="btn btn-secondary"
                                    (click)="editableListElem = i">
                                <clr-icon shape="pencil"></clr-icon>
                                <span class="clr-icon-title">Edit</span>
                            </button>
                            <button class="btn btn-warning" (click)="removeListElement(inputDefinition.key, i)">
                                <clr-icon shape="trash"></clr-icon>
                                <span class="clr-icon-title">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <input type="text" placeholder="New element" [(ngModel)]="newListElem" class="clr-input">
                    </td>
                    <td>
                        <button class="btn btn-sm btn-block" (click)="addListElement(inputDefinition.key)">Add ...
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</ng-container>
