<div class="card-text">
  <div class="entry" *ngIf="!edit">
    <label class="p6">Name:</label>
    <span>{{preset.id}}</span>
  </div>
  <clr-input-container *ngIf="edit">
    <label>My name</label>
    <input clrInput placeholder="Fill me in, scotty!" name="name" [(ngModel)]="preset.id"/>
  </clr-input-container>
  <div class="entry" *ngIf="!edit">
    <label class="p6">Description:</label>
    <span>{{preset.description}}</span>
  </div>
  <clr-textarea-container *ngIf="edit">
    <label>My name</label>
    <textarea clrTextarea placeholder="Description" name="name" [(ngModel)]="preset.description"></textarea>
  </clr-textarea-container>

  <div class="entry">
    <app-test-editor *ngIf="edit" [test]="preset.testset" (testSetChange)="preset.testset = $event"></app-test-editor>
    <app-test-preview *ngIf="!edit"></app-test-preview>
  </div>
</div>
