<div class="content-container">
    <div class="content-area">
        <div class="clr-row  clr-justify-content-center">
            <div class="clr-col-5">
                <h1>Presets</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, amet assumenda dolorum ex fuga illo impedit
                libero nobis nulla obcaecati optio, perferendis quia repellat sed tenetur unde voluptates. Nulla, quia.
            </div>
            <div class="clr-col-7">
                <div class="clr-row">
                    <div class="clr-col-12">
                        <div class="card">
                            <div class="card-header">
                                Create new test
                            </div>
                            <div class="card-block">
                                <div class="card-text">
                                    <p>Use this test wizard to create your infrastruture tests.</p>
                                    <p>During creation you can also save it, to get used by other user.</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-block btn-info"
                                        (click)="open_wizard = true; user_edited = true">{{ user_edited ? "Edit test" : "Create test"}}</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="result" class="clr-col-12">
                        <h1>Results</h1>
                        <app-result-view *ngIf="result" [HistoryItem]="result"></app-result-view>
                    </div>
                </div>
            </div>


            <app-test-wizard (resultChange)="result = $event" (reset)="user_edited = false" [(show)]="open_wizard"
                             [plugins]="plugins"></app-test-wizard>
        </div>
    </div>
</div>
