<div class="content-container">
    <div class="content-area">


        <div class="clr-row  clr-justify-content-center">
            <div class="clr-col-md-12 clr-col-lg-10">
                <div class="clr-row">
                    <div class="clr-col-lg-6 clr-col-12">
                        <div class="card">
                            <div class="card-header">
                                Use presets
                            </div>
                            <div class="card-block">
                                <div class="card-text">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis
                                        egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                        ante.
                                        Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                        Mauris
                                        placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                                        Vestibulum
                                        erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean
                                        fermentum, elit
                                        eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
                                        ac dui.
                                        Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque
                                        id cursus
                                        faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
                                        erat
                                        volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
                                        metus</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-block btn-info">Load test...</button>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-lg-6 clr-col-12">
                        <div class="card">
                            <div class="card-header">
                                Create new test
                            </div>
                            <div class="card-block">
                                <div class="card-text">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis
                                        egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                        ante.
                                        Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                        Mauris
                                        placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                                        Vestibulum
                                        erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean
                                        fermentum, elit
                                        eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
                                        ac dui.
                                        Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque
                                        id cursus
                                        faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam
                                        erat
                                        volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
                                        metus</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-block btn-info" (click)="open_wizard = true">Launch wizard...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-test-wizard [(show)]="open_wizard" [plugins]="plugins"></app-test-wizard>
        </div>
    </div>
</div>
