<div class="clr-row">
    <div class="clr-col-xl-4 clr-col-lg-12">
        <button (click)="addModule(module)" *ngFor="let module of moduleDefinitions"
                class="left btn btn-block btn-info-outline">
            <clr-icon shape="plus"></clr-icon>
            {{module.id}}
        </button>
    </div>
    <div class="clr-col-xl-8 clr-col-lg-12">
        <clr-datagrid [(clrDgSelected)]="selected" [clrDgRowSelection]="true">
            <clr-dg-column>ID</clr-dg-column>
            <clr-dg-column>Action</clr-dg-column>

            <clr-dg-row *clrDgItems="let module of moduleData; let i = index" [clrDgItem]="module">
                <clr-dg-cell>{{module.id}}</clr-dg-cell>
                <clr-dg-cell>
                    <div class="btn-group btn-sm btn-icon">
                        <button class="btn btn-secondary" (click)="moduleData.splice(i, 1)">
                            <clr-icon shape="trash"></clr-icon>
                            <span class="clr-icon-title">Delete</span>
                        </button>
                    </div>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-detail *clrIfDetail="let module">
                <clr-dg-detail-header>{{module.id}}</clr-dg-detail-header>
                <clr-dg-detail-body>
                    <div *ngFor="let moduleField of getDefinedModuleFields(module.id) | keyvalue">
                        <app-dynamic-form-element
                                [data]="module.fields"
                                [inputDefinition]="moduleField">
                        </app-dynamic-form-element>
                    </div>
                </clr-dg-detail-body>
            </clr-dg-detail>
        </clr-datagrid>
    </div>
</div>
