<div class="clr-row">
  <div class="clr-col-xl-5 clr-col-md-12">
    <clr-datagrid (clrDgSelectedChange)="onSelectionChange()" [(clrDgSelected)]="selected" [clrDgRowSelection]="true">
      <clr-dg-column>
        Test
      </clr-dg-column>
      <clr-dg-row *clrDgItems="let preset of presets" [clrDgItem]="preset">
        <clr-dg-cell>{{preset.id}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{presets.length}} presets</clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-md-12 clr-col-xl-7">
    <div class="card">
      <div class="card-header">
        Presets
      </div>
      <div class="card-block">
        <div *ngIf="selected.length" class="card-text">
          <div *ngFor="let testset of selected">
            <h4>{{testset.id}}</h4>
            <div *ngFor="let test of testset.testset; index as i"
                 class="item">
              <div (click)="toggleSettings(test); activeSettings = activeSettings === i ? -1 :  i" class="name">
                {{test.id}}
                <clr-icon *ngIf="activeSettings !== i" shape="pencil"></clr-icon>
                <clr-icon *ngIf="activeSettings === i" shape="caret"></clr-icon>
              </div>

              <div *ngIf="activeSettings === i" class="settings">
                <app-test-settings-modal [apiTestResult]="settingsContent.apiTestResult"
                                         [test]="settingsContent.testData"></app-test-settings-modal>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

