<clr-tabs>
    <clr-tab>
        <button clrTabLink>Description</button>
        <clr-tab-content *clrIfActive>
            <markdown [data]="pluginData.documentation"></markdown>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink id="link1">General Data</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <div class="clr-row">
                <div class="clr-col-12" *ngFor="let inputDefinition of pluginDocumentation.data | keyvalue">
                    <app-dynamic-form-element
                            [data]="pluginData.data"
                            [inputDefinition]="inputDefinition"></app-dynamic-form-element>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Modules</button>
        <clr-tab-content *clrIfActive>
            <app-module-data-input
                    [moduleData]="pluginData.modules"
                    [moduleDefinitions]="pluginDocumentation.modules">
            </app-module-data-input>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
