<form *ngIf="inputData" clrForm>
  <ng-container *ngFor="let data of inputData">

    <!--STRING-->
    <clr-input-container *ngIf="data.type === 'string'">
      <label>{{data.field}}</label>
      <input [(ngModel)]="test.data[data.field]" [name]="data.field" clrInput type="text"/>
    </clr-input-container>

    <!--NUMBER-->
    <div *ngIf="data.type === 'number'">
      <div class="alert alert-warning">Numbers are not supported yet</div>
    </div>

    <!--LIST-->
    <div *ngIf="data.type === 'string[]' || data.type === 'number[]'">
      <label>List: {{data.field}}</label>
      <span (click)="test.data[data.field] = removeListElem(test.data[data.field], elem)"
            *ngFor="let elem of test.data[data.field]"
            class="label label-purple clickable">
        {{elem}}
        <clr-icon shape="times"></clr-icon>
      </span>
      <div class="clr-form-control">
        <button (click)="test.data[data.field] = addListElem(test.data[data.field])" [disabled]="newListElem === ''"
                aria-label="add" class="btn btn-icon"
                type="button">
          <clr-icon shape="plus"></clr-icon>
        </button>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input [(ngModel)]="newListElem" class="clr-input" name="New element" type="text"/>
          </div>
        </div>
      </div>
    </div>


  </ng-container>
</form>


<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>Documentation</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <markdown>
        {{apiTestResult.description}}
      </markdown>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
